<footer class="footer">
    <div class="container">

        {% if site.footer_menu %}
        <!--Desktop Footer-->
        <div class="columns is-mobile is-multiline is-centered is-hidden-touch">
            {% for item in site.data[site.footer_menu] %}
            <div class="column is-narrow has-text-centered">
                <a href="{{ item.link | relative_url }}" class="link">
                    {% if item.fa %}
                    <i class="{{ item.fa }}"></i>
                    {% endif %}
                    {{ item.name }}
                </a>
            </div>
            {% endfor %}
        </div>

        <!--Mobile Footer-->
        <div class="columns is-mobile is-multiline is-centered is-hidden-desktop">
            {% for item in site.data[site.footer_menu] %}
            <div class="column is-narrow has-text-centered">
                <a href="{{ item.link | relative_url }}" class="link">
                    {% if item.fa %}
                    <i class="{{ item.fa }}"></i>
                    {% endif %}
                </a>
            </div>
            {% endfor %}
        </div>
        {% endif %}


        <!--
        <div class="content is-small has-text-centered">
            <p class="">I made this :)</p>
        </div>
        -->
    </div>
</footer>