<nav class="main line-1">
    <div class="content-wrapper py-4">
        <div class="content flex flex-column lg:flex-row items-center">
            <div class="flex flex-row items-center w-full lg:w-auto">
                <a href="/" class="pure-menu-heading">
                    <img src="/assets/images/sgda_logo_stacked_letters-256.png" alt="UT Dallas SGDA Logo" class="nav-logo">
                </a>
                {% include burger.html id="nav-burger" class="ml-auto lg:display-none" %}
            </div>

            <!-- tablet/desktop inline navigation -->
            <div class="lg:flex flex-column lg:flex-row items-start lg:items-center w-full display-none">
                <a class="link-on-dark w-full lg:w-auto lg:h-full lg:pl-4" href="/">Home</a>
                <a class="link-on-dark w-full lg:w-auto lg:h-full lg:pl-4" href="/about/">About</a>
                <a class="link-on-dark w-full lg:w-auto lg:h-full lg:pl-4" href="/merch/">Merch</a>
                
                <a class="button lg:ml-auto" href="/discord"> <i class="fab fa-discord" aria-hidden="true"></i> Join our Discord</a>
            </div>
        </div>
    </div>
    
    <!-- mobile burger dropdown -->
    <div class="lg:display-none tucked" id="tuckedMenu">
        <div class="flex flex-column lg:flex-row items-start lg:items-center w-full py-4">
            <a class="content-wrapper link-on-light w-full lg:w-auto lg:h-full lg:pl-4 lg:pb-0 py-1" href="/">
                <p class="content">Home</p>
            </a>
            <a class="content-wrapper link-on-light w-full lg:w-auto lg:h-full lg:pl-4 lg:pb-0 py-1" href="/about/">
                <p class="content">About</p>
            </a>
            <a class="content-wrapper link-on-light w-full lg:w-auto lg:h-full lg:pl-4 lg:pb-0 py-1" href="/merch/">
                <p class="content">Merch</p>
            </a>
            
            <div class="display-block content-wrapper pt-4 pb-3">
                <div class="content w-full">
                    <a class="button lg:ml-auto" href="/discord"> <i class="fab fa-discord" aria-hidden="true"></i> Join our Discord</a>
                </div>
            </div>
        </div>
    </div>
</nav>