<div class="content flex flex-column sm:flex-row justify-around py-12">
    {% for callout in site.data.callouts %}
    <div class="flex flex-column ">
        <i class="{{ callout.icon }} font-6xl"></i>
        <h2 class="m-0">{{ callout.title }}</h2>
        <p class="mt-0 mb-6">{{ callout.description | newline_to_br }}</p>
        <a class="button w-fit mx-auto" href="{{callout.call_to_action_link}}">
            {{ callout.call_to_action_name }}
        </a>
    </div>
    {% endfor %}
</div>