<div class="flex flex-row flex-wrap justify-center">
{% for officer in site.data.officers %}
    {% assign link = officer.linkedin %}
    {% unless link %}
        {% assign link = '#" onclick="return false;' %}
    {% endunless %}
    <a class="card flex flex-column border-radius-lg items-center align-center m-5 sz-fit pb-2 px-5 pt-5" href="{{ link }}">
        <h1 class="mx-0 mt-2 mb-0 font-2xl line-1 c-white">{{officer.name}}</h1>
        <p class="mt-0 mb-2 font-lg c-white">{{officer.role}}</p>
        <img class="border-radius-full mb-5" src="/assets/images/officers/{{officer.image}}" alt="{{officer.name}}'s Portrait" style="width: 13rem; height: 13rem;"/>
    {% if officer.linkedin %}
        <p class="mb-3">
            <i class="icon-linkedin"></i>
            View Profile
        </p>
    {% endif %}
    </a>
{% endfor %}
</div>