<footer class="main">
    <div class="content-wrapper bg-black">
        <div class="content">
            <div class="flex flex-row flex-wrap justify-center font-2xl lg:font-lg py-4">
                {% for item in site.data.socials %}
                <div>
                    <a href="{{ item.link | relative_url }}" class="flex flex-row mx-3 my-2" aria-label="{{ item.name }}">
                        {% if item.fa %}
                        <i class="{{ item.fa }} my-auto lg:mr-1"></i>
                        {% endif %}
                        <p class="display-none lg:display-block">{{ item.name }}</p>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</footer>