{% if page.sponsors %}
<!-- This code is a scuffed modification of the theme's existing code. It's really bad. -->
{% assign tiers=site.data.[page.sponsors] %}
    <div class="columns is-multiline is-centered">
        {% for tier in tiers %}
        <div class="column is-10">
            <p class="title is-3 has-text-centered">
                <span>{{ tier.tier_name }}</span>
            </p>
            <div class="columns is-centered">
                <div class="column is-6 content has-text-centered">
                    <p>{{ tier.description | markdownify }}</p>
                </div>
            </div>

            <div class="columns is-multiline is-centered">
                {% for sponsor in tier.sponsors %}
                <div class="column is-3-desktop is-4-tablet">
                    <div class="box has-text-centered">
                        <p class="title is-4">
                            {{ sponsor.name }}
                        </p>

                        <p class="subtitle is-5" style="margin-bottom: 0.6rem; opacity: 0.85;">
                            {{ sponsor.role }}
                        </p>

                        {% if sponsor.image %}
                        <div class="card-image">
                            <figure class="image is-1by1" style="overflow: hidden; border-radius: 50%;">
                                <img src="{{ sponsor.image }}" alt="{{ sponsor.title }}" />
                            </figure>
                        </div>
                        {% endif %}
                       
                        <p class="subtitle is-6" style="padding-top: 10px;">
                            {% if sponsor.profile %}
                            <a href="{{ sponsor.profile }}" class="is-link is-small">
                                <i class="fab fa-linkedin"></i>
                                View Profile
                            </a>
                            {% else %}
                            &nbsp;
                            {% endif %}
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="column is-12">
            <hr />
        </div>
        {% endfor %}
    </div>
{% endif %}