// global document colors
$clr-sgda-blue:     #36a8b3;
$clr-sgda-green:    #74b336;
$clr-sgda-yellow:   #ffcf40;
$clr-sgda-red:      #cc3629;
$clr-sgda-purple:   #664766;
$clr-sgda-lightgrey:#8a9899;
$clr-sgda-darkgrey: #2b2f33;

$clr-white:     #fff;
$clr-black:     #25282b;
$clr-darkwhite: #f5f5f5;