:root
{
    --sgda_blue: #36a8b3;
    --sgda_green: #74b336;
    --sgda_yellow: #ffcf40;
    --sgda_red: #cc3629;
    --sgda_purple: #664766;
    --sgda_lightgrey: #8a9899;
    --sgda_darkgrey: #2b2f33;
    --white: white;
    --darkgrey: #363636;
    --darkwhite: #f5f5f5;
}

.bg-darkwhite
{
    background-color: var(--darkwhite);
}