---
---
.officers
{
    justify-content: center;
}

.officer
{
    margin: 1.2rem;
    align-items: center;
    width: fit-content;
    height: fit-content;
    text-align: center;
}

.officer > *
{
    margin: 0;
}

.officer > h1
{
    font-size: 1.5rem;
}

.officer > p
{
    font-size: 1.1rem;
    color: #4a4a4a;
    margin-bottom: .75rem;
}

.officer img
{
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    margin-bottom: 1.1rem;
}

.officer a
{
    margin-bottom: 0.7rem;
}

.box-shadow
{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 .5em 1em -.125em rgba(10,10,10,0.1),0 0px 0 1px rgba(10,10,10,0.02);
    color: #4a4a4a;
    padding: 1.25rem;
    padding-bottom: .5rem;
}