button.hamburger
{
    width: 1.75rem;
    height: 1.75rem;
    padding: 0;
    margin-bottom: 0;
    background-color: transparent;
    transition: filter .2s;
}

button.hamburger:focus
{
    outline: none;
    box-shadow: none;
}

button.hamburger:active
{
    transform: translateY(0);
}

.hamburger-inner::before, .hamburger-inner, .hamburger-inner::after
{
    display: block;
    width: 100%;
    height: 2px;
    background-color: $clr-white;
    content: "";
    transition: all .2s;
}

button.hamburger:hover
{
    filter: brightness(60%);
}

.hamburger-inner
{
    position: relative;
    top: -.5rem;
}

.hamburger-inner::before
{
    position: absolute;
    top: .5rem;
}

.hamburger-inner::after
{
    position: absolute;
    top: 1rem;
}

button.hamburger.active > .hamburger-inner::before
{
    transform: translateX(-50%) rotate(-45deg);
    top: .875rem;
    opacity: 0;
}

button.hamburger.active > .hamburger-inner
{
    transform: rotate(45deg);
    top: 0;
}

button.hamburger.active > .hamburger-inner::after
{
    transform: rotate(-90deg);
    top: 0;
}