.merch-item
{
    $item-max-width: 17rem;
    max-width: $item-max-width;
    
    img
    {
        max-width: $item-max-width;
        object-fit: contain;
    }
    
    hr
    {
        height: 1px;
    }
}

.merch-item, .merch-item:visited
{
    color: var(--darkgrey);
}

.merch-item.box-shadow
{
    transition: box-shadow .2s;
}

.merch-item.box-shadow:hover
{
    color: var(--darkgrey);
    box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,0.3),0 0px 0 1px rgba(10,10,10,0.02);
}