@import "includes/burger";

nav.main
{
    font-weight: 600;
    background-color: var(--sgda_darkgrey);
}

#tuckedMenu ~ div
{
    background-color: var(--sgda_darkgrey);
}

.nav-logo
{
    width: 1.75rem;
}

.link-on-dark, .link-on-dark:visited
{
    color: var(--sgda_lightgrey)
}

.link-on-dark:hover
{
    color: var(--white)
}

@media (max-width: 991px)
{
    #tuckedMenu
    {
        background-color: var(--white);
    }
}

.link-on-light, .link-on-light:visited
{
    color: var(--sgda_lightgrey);
    transition: all .1s;
}

.link-on-light:hover
{
    color: var(--sgda_blue);
    background-color: var(--darkwhite);
}

.tucked
{
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s;
}

.tucked.untucked
{
    max-height: 16rem;
}