footer.main
{
    white-space: normal;
    background-color: var(--darkwhite);
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer.main a
{
    text-decoration: none;
}

footer.main > div > div
{
    display: inline-block;
    margin-right: .5rem;
    margin-left: .5rem;
}

footer.main p
{
    display: inline-block;
    margin: 0;
}

footer.main i
{
    font-size: 1.4rem;
    margin-right: .3rem;
}

@media (max-width: 62rem)
{
    footer.main p
    {
        display: none;
    }
}