---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{page.description}}">

        <title> {{site.title}} | {{page.title}} </title>
        <link rel="shortcut icon" type="image/png" href="/assets/images/favicon-256.png"/>

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet"> 
        
        <!-- custom -->
        <link rel="stylesheet" href="/assets/css/main.css">
        {% if page.stylesheet %}
        {% assign extension = page.name | split: '.' | last | prepend: "." %}
        
        {% if page.not-inline %}
        <link rel="stylesheet" href="/assets/css/pages/{{page.name | remove: extension }}.css">
        {% else %}
        <style type="text/css">
            {% capture include_to_scssify %}
            {% include {{ page.name | remove: extension | prepend: "css/" | append: ".scss" }} %}
            {% endcapture %}
            {{ include_to_scssify | scssify }}
        </style>
        {% endif%}
        {% endif %}
        {{page.custom-head}}
    </head>

    <body class="flex flex-column justify-between" style="min-height: 100vh;">
        {% include navbar.html %}

        <main class="children-are-content">
            {{content}}
        </main>

        {% include socials.html %}

        <script>
            {% include js/burger.js %}
            {% include js/title-animated.js %}
        </script>

        {% include analytics.html %}
    </body>

</html>