{% if page.menubar and page.show_sidebar %} 
    {% assign content_width = 'is-4' %} 
{% elsif page.menubar or page.show_sidebar %} 
    {% assign content_width = 'is-8' %} 
{% else %} 
    {% assign content_width = 'is-12' %} 
{% endif %}
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    {% unless page.hide_hero %}
        <section class="hero {% if page.hero_height %} {{ page.hero_height }} {% else %} is-medium {% endif %} is-bold is-primary" {% if page.hero_image %} style="background: url('{{ page.hero_image }}') repeat center center; background-size: 678px 678px;" {% endif %}>
            <div class="hero-body {% if page.hero_darken %} hero-darken {% endif %}">
                <div class="container">
                    <h1 class="title is-2 is-hidden-touch">The University of Texas at Dallas<br /> Student Game Developer Association</h1>
                    <h1 class="title is-3 is-hidden-desktop">UTD SGDA</h1>
                    <p class="subtitle is-3">{{ page.subtitle }}</p>
                    {% if page.hero_link %}
                        <a href="{{ page.hero_link | relative_url }}" class="button is-info is-large">{{ page.hero_link_text }}</a>
                    {% endif %}
                </div>
            </div>
        </section>
    {% endunless %}
    <section class="section">
        <div class="container">
            <div class="columns">
                {% if page.menubar %}
                <div class="column is-4-desktop is-4-tablet">
                    {% include menubar.html %}
                </div>
                {% endif %}
                <div class="column {{ content_width }}">
                    {% include tabs.html %}
                    {% include showcase.html %}
                    {% include sponsors.html %}
                    {% include gallery.html %}
                    {{ content }}
                </div>
                {% if site.posts and page.show_sidebar %}
                <div class="column is-4-desktop is-12-tablet">
                    {% include latest-posts.html %}
                </div>
                {% endif %}
            </div>
        </div>
    </section>
    <!-- Callouts are hidden on mobile. President's orders.-->
    <section class="is-hidden-touch">
        {% include callouts.html %}
    </section>

    {% include collaborations.html %}

    {% unless page.hide_footer %}
        {% include footer.html %}
    {% endunless %}
    <script src="{{ site.baseurl }}/assets/js/app.js" type="text/javascript"></script>
    {%- include footer-scripts.html -%}
  </body>
</html>

